<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 ">
      <div class="card head"></div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="titulo">{{carrera}}</h3>
                    <span class="titulo">{{titulo}}</span>
                    <button *ngIf="general==false" class="btn btn-success float-end" routerLink='/anadir-organizador/{{id}}'>Añadir</button>
                    <button *ngIf="general==true" class="btn btn-success float-end" routerLink='/crear-organizador'>Crear</button>
                    <table *ngIf="listOrganizadores.length >0" class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">DNI</th>
                            <th scope="col">T&eacute;lefono</th>
                            <th scope="col">Vehiculo propio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let organizador of listOrganizadores">
                            <td>{{organizador.nombre}}</td>
                            <td>{{organizador.apellidos}}</td>
                            <td>{{organizador.dni}}</td>
                            <td>{{organizador.telefono}}</td>
                            <td>{{organizador.vehiculo}}</td>
                            <td>
                                <i *ngIf="general==true" [routerLink]="['/editar-organizador',organizador._id]" class="fas fa-solid fa-pen-to-square text-primary"></i>
                                <i (click)="deleteOrganizador(organizador._id,id)" class="fas fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 *ngIf="listOrganizadores.length == 0" style="text-align: start; margin-top: 10px;">No hay organizadores</h5>
                      <div class="mb-3">
                        <button routerLink="" type="submit" class="btn btn-secondary btn-lg float-start" >Volver</button>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>