.head{
    background-image: url("..\..\..\assets\running-banner.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fas{
    cursor: pointer;
    margin-left: 7px;
}

.btn{
    margin-right: 2%;
}