.text-danger{
    text-align: start;
    margin-left: 7px;
}
.head{
    background-image: url("..\..\..\assets\running-banner.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}