
.btn{
    margin-right: 2%;
}

.head{
    background-image: url("..\..\..\assets\running-banner.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    font-weight:bold;
    margin-right: 10px;
}